# DatabaseClient Tutorial

This notebook demonstrates how to use the `DatabaseClient` class to:
1. Connect to databases (SQLite or PostgreSQL)
2. Retrieve database schema information
3. Execute SQL queries
4. Work with query results

The `DatabaseClient` provides a consistent interface regardless of the underlying database system.

## Setup

First, let's import the necessary classes and set up our environment. We'll need the `DatabaseClient` class from our project, as well as some other utilities.

In [ ]:
import os
import sys
import logging
import pandas as pd
from pathlib import Path

# since notebook is outside of the src directory, we need to add the src directory to the path
project_root = Path.home() / "dev" / "data-analyser"
if project_root not in sys.path:
    sys.path.append(str(project_root))

from src.clients.db_client import DatabaseClient

logging.basicConfig(level=logging.INFO)

## Database Connection

The `DatabaseClient` class needs a connection string to initialize. The connection string format depends on the database used:

- SQLite: `sqlite:///path/to/database.db`
- PostgreSQL: `postgresql://username:password@host:port/database`

In [2]:
# define the path to our SQLite database
DB_PATH = os.path.expanduser("../data/porsche_analytics.db")

# Create the connection string
sqlite_connection_string = f"sqlite:///{DB_PATH}"

# Initialize the DatabaseClient
sqlite_client = DatabaseClient(sqlite_connection_string)

print(f"Connected to the database!")

Connected to the database!

## Database Schema
You can get database schema. This provides us with a list of tables and their columns along with data types.

In [3]:
db_schema = sqlite_client.get_database_schema()
tables = [t_name for t_name in db_schema]
print('Available tables: ', tables)

Available tables:  ['models', 'dealerships', 'customers', 'sales', 'service_records']

In [4]:
table_name = 'models'
table_columns = [column for column in db_schema[table_name]]
print(f'Table -> {table_name}\nColumns: {table_columns}')

Table -> models
Columns: [{'column_name': 'model_id', 'data_type': 'INTEGER'}, {'column_name': 'model_name', 'data_type': 'TEXT'}, {'column_name': 'model_code', 'data_type': 'TEXT'}, {'column_name': 'production_start_year', 'data_type': 'INTEGER'}, {'column_name': 'production_end_year', 'data_type': 'INTEGER'}, {'column_name': 'segment', 'data_type': 'TEXT'}, {'column_name': 'base_price', 'data_type': 'REAL'}, {'column_name': 'horsepower', 'data_type': 'INTEGER'}, {'column_name': 'body_type', 'data_type': 'TEXT'}, {'column_name': 'is_electric', 'data_type': 'INTEGER'}, {'column_name': 'description', 'data_type': 'TEXT'}]

# Executing SQL Queries
Now that we know the schema, let's execute some SQL queries. The `DatabaseClient.execute_query()` method allows us to run SQL queries and returns a `QueryResult` object.

In [5]:
query = """
SELECT *
FROM models
"""
result = sqlite_client.execute_query(query)
result

INFO:src.clients.db_client:Query executed successfully. Returned 13 rows.

QueryResult(data=[{'model_id': 1, 'model_name': '911 Carrera', 'model_code': 'P-911-CR', 'production_start_year': 1963, 'production_end_year': nan, 'segment': 'Sports Car', 'base_price': 101200.0, 'horsepower': 379, 'body_type': 'Coupe', 'is_electric': 0, 'description': 'Iconic rear-engine sports car'}, {'model_id': 2, 'model_name': '911 Turbo S', 'model_code': 'P-911-TS', 'production_start_year': 1975, 'production_end_year': nan, 'segment': 'Sports Car', 'base_price': 207000.0, 'horsepower': 640, 'body_type': 'Coupe', 'is_electric': 0, 'description': 'High-performance variant of the 911'}, {'model_id': 3, 'model_name': 'Taycan', 'model_code': 'P-TAY', 'production_start_year': 2019, 'production_end_year': nan, 'segment': 'Sedan', 'base_price': 86700.0, 'horsepower': 522, 'body_type': 'Sedan', 'is_electric': 1, 'description': 'All-electric four-door sports car'}, {'model_id': 4, 'model_name': 'Panamera', 'model_code': 'P-PAN', 'production_start_year': 2009, 'production_end_year': nan, 'segment': 'Luxury', 'base_price': 88400.0, 'horsepower': 325, 'body_type': 'Sedan', 'is_electric': 0, 'description': 'Four-door luxury sports car'}, {'model_id': 5, 'model_name': 'Cayenne', 'model_code': 'P-CAY', 'production_start_year': 2002, 'production_end_year': nan, 'segment': 'SUV', 'base_price': 69000.0, 'horsepower': 335, 'body_type': 'SUV', 'is_electric': 0, 'description': 'Mid-size luxury crossover SUV'}, {'model_id': 6, 'model_name': 'Macan', 'model_code': 'P-MAC', 'production_start_year': 2014, 'production_end_year': nan, 'segment': 'SUV', 'base_price': 54900.0, 'horsepower': 248, 'body_type': 'SUV', 'is_electric': 0, 'description': 'Compact luxury crossover SUV'}, {'model_id': 7, 'model_name': '718 Boxster', 'model_code': 'P-BOX', 'production_start_year': 1996, 'production_end_year': nan, 'segment': 'Sports Car', 'base_price': 62000.0, 'horsepower': 300, 'body_type': 'Convertible', 'is_electric': 0, 'description': 'Mid-engine two-seater roadster'}, {'model_id': 8, 'model_name': '718 Cayman', 'model_code': 'P-CAY', 'production_start_year': 2005, 'production_end_year': nan, 'segment': 'Sports Car', 'base_price': 60500.0, 'horsepower': 300, 'body_type': 'Coupe', 'is_electric': 0, 'description': 'Mid-engine two-seater coupe'}, {'model_id': 9, 'model_name': 'Taycan Cross Turismo', 'model_code': 'P-TAYCT', 'production_start_year': 2021, 'production_end_year': nan, 'segment': 'Wagon', 'base_price': 93700.0, 'horsepower': 469, 'body_type': 'Wagon', 'is_electric': 1, 'description': 'All-electric wagon variant of the Taycan'}, {'model_id': 10, 'model_name': 'Cayenne Coupe', 'model_code': 'P-CAYC', 'production_start_year': 2019, 'production_end_year': nan, 'segment': 'SUV', 'base_price': 76500.0, 'horsepower': 335, 'body_type': 'SUV Coupe', 'is_electric': 0, 'description': 'Coupe variant of the Cayenne SUV'}, {'model_id': 11, 'model_name': '911 GT3', 'model_code': 'P-911-GT3', 'production_start_year': 1999, 'production_end_year': nan, 'segment': 'Sports Car', 'base_price': 161100.0, 'horsepower': 502, 'body_type': 'Coupe', 'is_electric': 0, 'description': 'High-performance variant of the 911'}, {'model_id': 12, 'model_name': '918 Spyder', 'model_code': 'P-918', 'production_start_year': 2013, 'production_end_year': 2015.0, 'segment': 'Hypercar', 'base_price': 845000.0, 'horsepower': 887, 'body_type': 'Convertible', 'is_electric': 1, 'description': 'Limited production hybrid sports car'}, {'model_id': 13, 'model_name': 'Carrera GT', 'model_code': 'P-CGT', 'production_start_year': 2003, 'production_end_year': 2007.0, 'segment': 'Supercar', 'base_price': 448000.0, 'horsepower': 605, 'body_type': 'Convertible', 'is_electric': 0, 'description': 'Mid-engine sports car'}], row_count=13, column_names=['model_id', 'model_name', 'model_code', 'production_start_year', 'production_end_year', 'segment', 'base_price', 'horsepower', 'body_type', 'is_electric', 'description'], execution_time_ms=5.603551864624023)

The `QueryResult` object contains:
- `data`: A list of dictionaries, each representing a row
- `row_count`: The number of rows returned
- `column_names`: A list of column names
- `execution_time_ms`: The query execution time in milliseconds

In [6]:
# access QueryResult attributes
result.data

[{'model_id': 1,
  'model_name': '911 Carrera',
  'model_code': 'P-911-CR',
  'production_start_year': 1963,
  'production_end_year': nan,
  'segment': 'Sports Car',
  'base_price': 101200.0,
  'horsepower': 379,
  'body_type': 'Coupe',
  'is_electric': 0,
  'description': 'Iconic rear-engine sports car'},
 {'model_id': 2,
  'model_name': '911 Turbo S',
  'model_code': 'P-911-TS',
  'production_start_year': 1975,
  'production_end_year': nan,
  'segment': 'Sports Car',
  'base_price': 207000.0,
  'horsepower': 640,
  'body_type': 'Coupe',
  'is_electric': 0,
  'description': 'High-performance variant of the 911'},
 {'model_id': 3,
  'model_name': 'Taycan',
  'model_code': 'P-TAY',
  'production_start_year': 2019,
  'production_end_year': nan,
  'segment': 'Sedan',
  'base_price': 86700.0,
  'horsepower': 522,
  'body_type': 'Sedan',
  'is_electric': 1,
  'description': 'All-electric four-door sports car'},
 {'model_id': 4,
  'model_name': 'Panamera',
  'model_code': 'P-PAN',
  'production_start_year': 2009,
  'production_end_year': nan,
  'segment': 'Luxury',
  'base_price': 88400.0,
  'horsepower': 325,
  'body_type': 'Sedan',
  'is_electric': 0,
  'description': 'Four-door luxury sports car'},
 {'model_id': 5,
  'model_name': 'Cayenne',
  'model_code': 'P-CAY',
  'production_start_year': 2002,
  'production_end_year': nan,
  'segment': 'SUV',
  'base_price': 69000.0,
  'horsepower': 335,
  'body_type': 'SUV',
  'is_electric': 0,
  'description': 'Mid-size luxury crossover SUV'},
 {'model_id': 6,
  'model_name': 'Macan',
  'model_code': 'P-MAC',
  'production_start_year': 2014,
  'production_end_year': nan,
  'segment': 'SUV',
  'base_price': 54900.0,
  'horsepower': 248,
  'body_type': 'SUV',
  'is_electric': 0,
  'description': 'Compact luxury crossover SUV'},
 {'model_id': 7,
  'model_name': '718 Boxster',
  'model_code': 'P-BOX',
  'production_start_year': 1996,
  'production_end_year': nan,
  'segment': 'Sports Car',
  'base_price': 62000.0,
  'horsepower': 300,
  'body_type': 'Convertible',
  'is_electric': 0,
  'description': 'Mid-engine two-seater roadster'},
 {'model_id': 8,
  'model_name': '718 Cayman',
  'model_code': 'P-CAY',
  'production_start_year': 2005,
  'production_end_year': nan,
  'segment': 'Sports Car',
  'base_price': 60500.0,
  'horsepower': 300,
  'body_type': 'Coupe',
  'is_electric': 0,
  'description': 'Mid-engine two-seater coupe'},
 {'model_id': 9,
  'model_name': 'Taycan Cross Turismo',
  'model_code': 'P-TAYCT',
  'production_start_year': 2021,
  'production_end_year': nan,
  'segment': 'Wagon',
  'base_price': 93700.0,
  'horsepower': 469,
  'body_type': 'Wagon',
  'is_electric': 1,
  'description': 'All-electric wagon variant of the Taycan'},
 {'model_id': 10,
  'model_name': 'Cayenne Coupe',
  'model_code': 'P-CAYC',
  'production_start_year': 2019,
  'production_end_year': nan,
  'segment': 'SUV',
  'base_price': 76500.0,
  'horsepower': 335,
  'body_type': 'SUV Coupe',
  'is_electric': 0,
  'description': 'Coupe variant of the Cayenne SUV'},
 {'model_id': 11,
  'model_name': '911 GT3',
  'model_code': 'P-911-GT3',
  'production_start_year': 1999,
  'production_end_year': nan,
  'segment': 'Sports Car',
  'base_price': 161100.0,
  'horsepower': 502,
  'body_type': 'Coupe',
  'is_electric': 0,
  'description': 'High-performance variant of the 911'},
 {'model_id': 12,
  'model_name': '918 Spyder',
  'model_code': 'P-918',
  'production_start_year': 2013,
  'production_end_year': 2015.0,
  'segment': 'Hypercar',
  'base_price': 845000.0,
  'horsepower': 887,
  'body_type': 'Convertible',
  'is_electric': 1,
  'description': 'Limited production hybrid sports car'},
 {'model_id': 13,
  'model_name': 'Carrera GT',
  'model_code': 'P-CGT',
  'production_start_year': 2003,
  'production_end_year': 2007.0,
  'segment': 'Supercar',
  'base_price': 448000.0,
  'horsepower': 605,
  'body_type': 'Convertible',
  'is_electric': 0,
  'description': 'Mid-engine sports car'}]

In [7]:
# for convenience, convert the result to a pandas DataFrame
df = pd.DataFrame(result.data)
df

,model_id,model_name,model_code,production_start_year,production_end_year,segment,base_price,horsepower,body_type,is_electric,description
0,1,911 Carrera,P-911-CR,1963,NaN,Sports Car,101200.0,379,Coupe,0,Iconic rear-engine sports car
1,2,911 Turbo S,P-911-TS,1975,NaN,Sports Car,207000.0,640,Coupe,0,High-performance variant of the 911
2,3,Taycan,P-TAY,2019,NaN,Sedan,86700.0,522,Sedan,1,All-electric four-door sports car
3,4,Panamera,P-PAN,2009,NaN,Luxury,88400.0,325,Sedan,0,Four-door luxury sports car
4,5,Cayenne,P-CAY,2002,NaN,SUV,69000.0,335,SUV,0,Mid-size luxury crossover SUV
5,6,Macan,P-MAC,2014,NaN,SUV,54900.0,248,SUV,0,Compact luxury crossover SUV
6,7,718 Boxster,P-BOX,1996,NaN,Sports Car,62000.0,300,Convertible,0,Mid-engine two-seater roadster
7,8,718 Cayman,P-CAY,2005,NaN,Sports Car,60500.0,300,Coupe,0,Mid-engine two-seater coupe
8,9,Taycan Cross Turismo,P-TAYCT,2021,NaN,Wagon,93700.0,469,Wagon,1,All-electric wagon variant of the Taycan
9,10,Cayenne Coupe,P-CAYC,2019,NaN,SUV,76500.0,335,SUV Coupe,0,Coupe variant of the Cayenne SUV
10,11,911 GT3,P-911-GT3,1999,NaN,Sports Car,161100.0,502,Coupe,0,High-performance variant of the 911
11,12,918 Spyder,P-918,2013,2015.0,Hypercar,845000.0,887,Convertible,1,Limited production hybrid sports car
12,13,Carrera GT,P-CGT,2003,2007.0,Supercar,448000.0,605,Convertible,0,Mid-engine sports car

**Complex Queries**

In [8]:
query = """
SELECT 
    m.model_name, 
    COUNT(s.sale_id) as total_sales,
    SUM(s.price) as total_revenue,
    AVG(s.price) as avg_price
FROM 
    models m
LEFT JOIN 
    sales s ON m.model_id = s.model_id
GROUP BY 
    m.model_name
ORDER BY 
    total_revenue DESC
"""
result = sqlite_client.execute_query(query)
sales_df = pd.DataFrame(result.data)
sales_df

INFO:src.clients.db_client:Query executed successfully. Returned 13 rows.

              model_name  total_sales  total_revenue  avg_price
0            911 Turbo S            1       215000.0   215000.0
1               Panamera            1       182000.0   182000.0
2                911 GT3            1       167500.0   167500.0
3            911 Carrera            1       110500.0   110500.0
4   Taycan Cross Turismo            1        98500.0    98500.0
5                 Taycan            1        92400.0    92400.0
6          Cayenne Coupe            1        79900.0    79900.0
7                Cayenne            1        72500.0    72500.0
8            718 Boxster            1        65000.0    65000.0
9                  Macan            1        59800.0    59800.0
10            Carrera GT            0            NaN        NaN
11            918 Spyder            0            NaN        NaN
12            718 Cayman            0            NaN        NaN